.home {
}
.header {
  display: flex;
  justify-content: space-between;
}

.profileclickContainer {
  border-radius: 20px;
  background-color: grey;
  display: flex;
  padding: 10px 120px;
}

.link {
  color: blue;
}
.premiumButtonContainer {
  display: flex;
  justify-content: center;
}
.premiumButton {
  font-size: 20px;
  background-color: red;
  border: none;
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid rgb(218, 185, 185);

  color: white;
}

.downloadButtonContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.downloadButton {
  font-size: 20px;
  background-color: rgb(124, 255, 63);
  border: none;
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 12px;

  color: white;
}
